.DS_Store
apisix_log/.DS_Store
apisix_log/access.log
apisix_log/error.log
apisix_log/nginx.pid
etcd_data/.DS_Store
etcd_data/member/snap/db
etcd_data/member/wal/0000000000000000-0000000000000000.wal
grafana_conf/.DS_Store
kafka_data/.DS_Store
kafka_data/data/.kafka_cleanshutdown
kafka_data/data/bootstrap.checkpoint
kafka_data/data/cleaner-offset-checkpoint
kafka_data/data/log-start-offset-checkpoint
kafka_data/data/meta.properties
kafka_data/data/recovery-point-offset-checkpoint
kafka_data/data/replication-offset-checkpoint
kafka_data/data/__cluster_metadata-0/00000000000000000000.index
kafka_data/data/__cluster_metadata-0/00000000000000000000.log
kafka_data/data/__cluster_metadata-0/00000000000000000000.timeindex
kafka_data/data/__cluster_metadata-0/00000000000000000212.snapshot
kafka_data/data/__cluster_metadata-0/00000000000000001573.snapshot
kafka_data/data/__cluster_metadata-0/leader-epoch-checkpoint
kafka_data/data/__cluster_metadata-0/partition.metadata
kafka_data/data/__cluster_metadata-0/quorum-state
kafka_data/data/apisix-logs-0/00000000000000000000.index
kafka_data/data/apisix-logs-0/00000000000000000000.log
kafka_data/data/apisix-logs-0/00000000000000000000.timeindex
kafka_data/data/apisix-logs-0/00000000000000000004.snapshot
kafka_data/data/apisix-logs-0/leader-epoch-checkpoint
kafka_data/data/apisix-logs-0/partition.metadata
